{% extends 'main.html' %}

{% block content %}
<main class="create-room layout">
    <div class="container">
        <div class="layout__box">
            <div class="layout__boxHeader">
                <div class="layout__boxTitle">
                    <a href="{% url 'home' %}">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                            <title>arrow-left</title>
                            <path
                                d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
                            </path>
                        </svg>
                    </a>
                    <h3>Browse Topics</h3>
                </div>
            </div>

            <div class="topics-page">
                <form action="" method="GET" class="header__search">
                    <label>
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                            <title>search</title>
                            <path
                                d="M32 30.582l-14.708-14.708c2.271-2.709 3.493-6.191 3.281-9.761-0.457-7.708-7.147-13.626-14.868-13.123-6.302 0.41-11.45 5.558-11.861 11.861-0.503 7.721 5.415 14.411 13.123 14.868 3.57 0.211 7.052-1.010 9.761-3.281l14.708 14.708zM4.035 12.001c0.395-6.042 5.385-11.031 11.427-11.427 6.471-0.423 12.012 5.118 11.589 11.589-0.396 6.042-5.385 11.031-11.427 11.427-6.471 0.423-12.012-5.118-11.589-11.589z">
                            </path>
                        </svg>
                        <input name="q" placeholder="Search for topics" />
                    </label>
                </form>

                <ul class="topics__list">
                    <li>
                        <a href="{% url 'home' %}" class="active">All <span>{{topics.count}}</span></a>
                    </li>
                    {% for topic in topics %}
                    <li>
                        <a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}} <span>{{topic.room_set.all.count}}</span></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</main>
{% endblock %}
